@keyframes ikonTeam {
  0% {
    background-color: var(--brand-color);
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  50% {
    background-color: var(--brand-color);
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  100% {
    background-color: var(--brand-color);
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}