
                                      // section-mobile

.section-cline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 30px;

  &__icon {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    text-align: center;
    padding-top: 18px;
    width: 210px;
    height: 92px;
    &:hover {
      border: 1px solid #03a9f4;
      transition: 0.250ms;
    }
  }
  &__icon-svg {
    fill: #afb1b8;
    cursor: pointer;
    &:hover {
      fill: #03a9f4;
      transition: 0.250ms;
    }
  }
}
                                    // section-tablet
@media screen and (min-width: 768px) {
.section-cline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 30px;

  &__icon {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    text-align: center;
    padding-top: 18px;
    width: 226px;
    height: 92px;
    transition: border .25ms;

    &:hover {
      border: 1px solid #03a9f4;
    }
  }
  &__icon-svg {
    fill: #afb1b8;
    transition: fill .25ms;
    &:hover {
      fill: #03a9f4;
    }
  }
}
}

                                    // section-1200
 @media screen and (min-width: 1200px) {
.section-cline {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 50px;
  gap: 30px;
  &__icon {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    text-align: center;
    padding-top: 18px;
    width: 170px;
    height: 92px;
    transition: border .25ms;
    &:hover {
      border: 1px solid #03a9f4;
      
    }
   
  }
  &__icon-svg {
    fill: #afb1b8;
    margin-right: 10px;
    cursor: pointer;
    transition: fill .25ms;
    &:hover {
      fill: #03a9f4;
    }
  }
}


 }
