// heder-mobile
.header {
  display: flex;
  border-bottom: 1px solid #ececec;
  height: 80px;
  padding-top: 18px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-menu {
    display: none;
  }
  .header-adress {
    display: none;
  }
  .header-inner {
    display: flex;
  }
  .header-nav {
    width: 50%;
  }

  .mobile-menu {
    width: 50%;
    text-align: end;
  }
}

// heder 768
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;

    align-items: center;
  }
  .logo {
    margin-right: 83px;
  }

  .header-menu {
    display: flex;
    list-style: none;
    padding: 0;
    flex-grow: 2;
    &__menu-item {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: #212121;
    }
    &__menu-item {
      margin-right: 46px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .header-menu__menu-link:hover {
    color: var(--brand-color);
  }

  .header-adress {
    list-style: none;
    padding: 0;
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    &__icon {
      fill: #757575;
      margin-right: 10px;
    }
  }
  .header-adress__link:hover,
  .header-adress__item:hover > svg {
    color: var(--brand-color);
    fill: var(--brand-color);
  }

  .header-menu__menu-item--active-bottom a::after {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    top: 27px;
    color: #2196f3;
    border-radius: 2px;
  }
}

// heder 1200
@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid #ececec;

    height: 80px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-menu {
    display: flex;
    list-style: none;
    padding: 0;
    flex-grow: 2;
    &__menu-item {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: #212121;
    }
    &__menu-item {
      margin-right: 46px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .header-menu__menu-link:hover {
    color: var(--brand-color);
  }

  .header-adress {
    flex-grow: 1;
    display: flex;
    list-style: none;
    padding: 0;
    &__item {
      display: flex;
      align-items: center;
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__icon {
      fill: #757575;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .header-adress__link:hover,
  .header-adress__item:hover > svg {
    color: var(--brand-color);
    fill: var(--brand-color);
  }

  .header-menu__menu-item--active-bottom a::after {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    top: 40px;
    color: #2196f3;
    border-radius: 2px;
  }
}
