.menu-open-btn {
  margin-right: 0px;
  justify-content: center;
  background-color: transparent;
  border: none;
  transition: fill 0.25ms;
  &:hover,
  &:focus {
    fill: var(--brand-color);
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 567;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}
.mob-menu .is-hidden {
  opacity: 0;
  pointer-events: none;
}
.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  transition: fill 0.25ms;
  &:hover,
  &:focus {
    fill: var(--brand-color);
  }
}

.mob-menu__item {
  
  margin-bottom: 36px;
  list-style: none;
}
.mob-menu__contacts {
  padding-inline-start: 0;
}
.mob-menu__list {
  padding-inline-start: 0;
}
.mob-menu__contacts > li:last-child {
  margin-bottom: 0px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 0.25ms;
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}
.mob-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color 0.25ms;
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}
.mob-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 0.25ms;
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}
.mob-soc {
  margin-top: 64px;
  display: flex;
  list-style: none;
  padding: 0px;
}

.mob_soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-soc__item:not(:last-child)::after {
  content: "";
  margin: 0 10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  border: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
